<section class="home_body_style">
  <div class="container_avatar_sidenavbar_style">
    <img id="cf_avatar" class="cf_avatar_style" src="/images/cf_avatar.png" alt="cf avatar">
    <div class="name_cohort_style">
      <label for="cf_name">WELCOME Ahmed Ajour</label>
      <label for="cohort_name">FACG4</label>
    </div>

    <div class="container_sidenavbar_style">
      <div class="item_sidenav_style">Home</div>
      <hr>
      <div class="item_sidenav_style">Take attendance</div>
      <hr>
      <div id="reports" class="item_sidenav_style">Reports <i class="icon fa fa-sort-down"></i>
        <div class="disable">
          <hr>
          <div>
            <a class="item_sidenav_style" href="/weeklyReport">Weekly report</a>
          </div>
          <hr>
          <div>
            <a class="item_sidenav_style" href="/monthlyReport">Monthly report</a>
          </div>
        </div>
      </div>
      <hr>
      <div id="students" class="item_sidenav_style">Students <i class="icon fa fa-sort-down"></i>
        <div class="disable1">
          <hr>
          <div>
            <a class="item_sidenav_style" href="/manageSt">Manage students</a>
          </div>
          <hr>
          <div>
            <a class="item_sidenav_style" href="/inviteSt">Invite a student</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="item_sidenav_style">Cirriculum</div>
      <hr>
      <div class="item_sidenav_style">Complaints and suggestions</div>
    </div>

  </div>
  <div class="no_padding">
    <div class="current_date_style">
      <label for="date">{{my_date}}</label>
    </div>
    <div>
      <label for="title_studen_tracker">Daily Student Tracking</label>
      <div class="student_tracker_titles">
        <label for="title_tracking_style">Present</label>
        <label for="title_tracking_style">Absent</label>
        <label for="title_tracking_style">Late</label>
        <label for="title_tracking_style">Leave</label>
      </div>
      <div class="student_tracker">
        <label for="presentSt">{{presentSts}}</label>
        <label for="absentSt">{{absentSts}}</label>
        <label for="lateSt">{{lateSts}}</label>
        <label for="leaveSt">{{leaveSts}}</label>
      </div>
    </div>
    <div class="container_tables">
      <table>
        <tr class="table_title_style">
          <th>Week Mentors</th>
        </tr>
        {{#each weekMentors}}
          <tr>
            <th>{{this.first_name}} {{this.last_name}}</th>
          </tr>
        {{/each}}
      </table>

      <table>
        <tr class="title_style">
          <th>Week in progress : week{{weekWorkshops1.week_no}} ( {{weekWorkshops1.name}} )</th>
        </tr>
        <tr class="subtitle_style">
          <th>Today’s schedule</th>
        </tr>
        <tr class="subtitle2_style">
          <th>day{{weekWorkshops1.day_no}}</th>
        </tr>
        {{#each weekWorkshops}}
          <tr>
            <th>{{this.start_time}} {{this.end_time}} {{this.title}} </th>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

</section>
