 {{>asidebar}}
<div class="home">
  {{>trackBox}}
  <div class="container_tables">
    <table class="weekmentor_table_style">
      <tr class="table_title_style">
        <th>Week Mentors</th>
      </tr>
      {{#each weekMentors}}
        <tr>
          <td>{{this.first_name}} {{this.last_name}}</td>
        </tr>
      {{/each}}
    </table>
    <table class="weekworkshop_table_style">
      <tr>
        <th class="table_title_style">Week in progress : week{{weekWorkshops1.week_no}} ( {{weekWorkshops1.name}} )</th>
      </tr>
      <tr>
        <th class="subtitle_style">Today’s schedule</th>
      </tr>
      <tr>
        <th class="subtitle2_style">day{{weekWorkshops1.day_no}}</th>
      </tr>
      {{#each weekWorkshops}}
        <tr>
          <td>{{this.start_time}} {{this.end_time}} {{this.title}} </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
