 {{>asidebar}}

<div class="suggestion_style">

  <div class="suggestionDiv">
    <table class="suggestion_table_style">
      <tr>
        <th colspan ="2" class="suggestion">Suggestions</th>
      </tr>
      {{#each suggestion }}
        <tr>
          <td>
            {{this.content}}
          </td>
          <td>
            {{this.first_name}}{{this.last_name}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>

  <div class="complaintDiv">
    <table class="complaint_table_style">
      <tr>
        <th colspan ="2" class="complaint">Complaints</th>
      </tr>
      {{#each complaint}}
        <tr>
          <td>
            {{this.content}}
          </td>
          <td>
            {{this.first_name}}{{this.last_name}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
