<div class="container_avatar_sidenavbar_style">
  {{#if avatar}}
    <img id="cf_avatar" class="cf_avatar_style" src="{{avatar}}" alt="cf avatar">
  {{else}}
    <img id="cf_avatar" class="cf_avatar_style" src="/images/cf_avatar.png" alt="cf avatar">
  {{/if}}
  <div class="name_cohort_style">

    {{#if name}}
      <label class="cf_name" for="cf_name">WELCOME {{name}}</label>
    {{else}}
      <label class="cf_name" for="cf_name">WELCOME CF</label>
    {{/if}}
    <label for="cohort_name">{{cohortName}}</label>
  </div>
  <div class="container_sidenavbar_style">
    <div id="home" class="item_sidenav_style">
      <a class="item_sidenav_style" href="/" name="home">Home</a>
    </div>
    <hr>
    <div id="attendance" class="item_sidenav_style">
      <a class="item_sidenav_style" href="/attendance" name ="attendance">Take attendance</a>
    </div>
    <hr>
    <div id="reports" class="item_sidenav_style">Reports
      <i class="icon fa fa-sort-down"></i>
      <div class="disable">
        <hr>
        <div>
          <a class="item_sidenav_style" href="/weeklyReport">Weekly report</a>
        </div>
        <hr>
        <div>
          <a class="item_sidenav_style" href="/monthlyReport">Monthly report</a>
        </div>
      </div>
    </div>
    <hr>
    <div id="students" class="item_sidenav_style" name="students">Students
      <i class="icon fa fa-sort-down"></i>
      <div id="studentToggle" class="disable1">
        <hr>
        <div>
          <a class="item_sidenav_style" href="/manageSt"name="studentsM">Manage students</a>
        </div>
        <hr>
        <div>
          <a class="item_sidenav_style" href="/inviteSt" name="studentsI">Invite a student</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="item_sidenav_style">
      <a class="item_sidenav_style" href="/suggestionComplaint" name="comsugg">Complaints and suggestions</a></div>
    <hr>
    <div class="item_sidenav_style">
      <a class="item_sidenav_style" href="/logout">Logout</a>
    </div>
  </div>
</div>
