<div class="student-cover"></div>
<div class="student-title">
  <img class="student-avatar" src="{{#if info.avatar}}
  {{info.avatar}}
  {{else}}
   https://forums.opera.com/assets/uploads/profile/192601-profileavatar.png
  {{/if}}" alt="avatar">
  <div class="student-info">
    <h2>{{info.first_name}} {{info.last_name}}</h2>
    <span>@{{info.github_username}}</span>
  </div>
</div>
