<section class="daily-track-stats">
  <div class="current_date_style">
    <label for="date">{{my_date}}</label>
  </div>
  <div>
    <label for="title_studen_tracker">Daily Student Tracking</label>
    <div class="student_tracker_titles">
      <label for="title_tracking_style">Present</label>
      <label for="title_tracking_style">Absent</label>
      <label for="title_tracking_style">Late</label>
      <label for="title_tracking_style">Leave</label>
    </div>
    <div class="student_tracker">
      <label for="presentSt">{{presentSts}}</label>
      <label for="absentSt">{{absentSts}}</label>
      <label for="lateSt">{{lateSts}}</label>
      <label for="leaveSt">{{leaveSts}}</label>
    </div>
  </div>
</section>